.testimonial-carousel {
  width: 100%;
  max-width: 100%;
  margin: 0 auto
}

.testimonials-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto
}

.testimonials-wrapper h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  padding: 30px;
  color: #000;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
  border-radius: 100%
}



.testimonial-carousel .active .testimonials-img {
  transform: translateY(0);
  filter: brightness(1)
}

.testimonials-person-info {
  text-align: center;
  color: #fff
}



@keyframes anim {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
  }

  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
  }

  100% {
    opacity: 1;
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
  }
}

.testimonial-carousel .active .testimonials-blob {
  transform-origin: 50% 50%;
  animation: anim linear .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

.testimonial-carousel {
  overflow: hidden;
  cursor: grab
}

.testimonial-carousel:active {
  cursor: grabbing
}

.testimonial-carousel .owl-item {
  overflow: hidden;
  transition: all ease-out .3s;
  transform: scale(.7);
  opacity: 0
}

.testimonial-carousel .owl-item.active {
  transform: scale(1);
  opacity: 1
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
  font-size: 13px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  padding: 0 10px;
  transition: all ease-out .25s;
  transform: translateY(-100%);
  opacity: 1;
  color: #fff;
  border-radius: 3px;
  background: #171719
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
  color: #fff;
  background: #615e6b
}

.testimonial-carousel .owl-prev {
  left: 0
}

.testimonial-carousel .owl-next {
  right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
  opacity: 0
}


.slide-toggle #page {
  position: relative;
  margin-top: -85px;
  margin-bottom: 20%;
  width: 100vw !important;
  /* z-index: -1; */
}


.owl-item .item img {
  display: block;
  width: 100%;
  height: 40vh !important;
}

.slide-toggle #page * {
  border-radius: 0 0 30px 30px !important;
}


.page-content {
  overflow-x: hidden;
  transition: all 350ms ease;
  /* z-index: 90; */
  padding-top: 20px;
  padding-bottom: 80px;
  padding-bottom: calc(80px + (constant(safe-area-inset-bottom))*1.1);
  padding-bottom: calc(75px + (env(safe-area-inset-bottom))*1.1)
}